#leftpanel {
	position:relative;
	background-color: red;
	border:solid black 1px;
	height:1000px;
}

#gameboard {
	margin-left:100px;
	position:absolute;
	background-color:white;
	height:100%;
	width:700px;
}

#toolbox {
	background-color: blue;
	border:solid black 1px;
	height:1000px;	
}
