#leftpanel {
	position:relative;
	background-color: beige;
	height:800px;
}

#gameboard {
	margin-left:150px;
	position:absolute;
	background-color:white;
	height:100%;
	width:800px;
	display: inline-block;
}

#toolbox {
	background-color: maroon;
	border:solid black 1px;
	height:800px;	
}
.pixel{
	display: inline-block;
	border:solid black 1px;
	height: 9.5%;
	width: 10%;
	margin:-2.0px;
	background-color:#4997D0;
}

.earth {
	background-image:url("http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0464/6961/rr12x12_Dirt_Block_2015_shop_thumb.png");
	background-size:contain;
}
.rocks{
	background-image: url("http://i.imgur.com/4Qy2laz.png");
	background-size:contain;
}
.tree{
	background-image: url("http://vignette3.wikia.nocookie.net/minecraft-story-mode/images/5/50/Wiki-background/revision/latest?cb=20150708013010");
	background-size: contain;
}
.bark{
	background-image: url("https://lh5.googleusercontent.com/-iAR6IBt0oLs/VMOh_bLszFI/AAAAAAAAAJ8/Lxf5ABQbBAk/w800-h800/Wood%2BBlock%2B2.png");
	background-size: contain;
}

.surface {
	background-image:url("https://s-media-cache-ak0.pinimg.com/736x/cc/b3/7a/ccb37a1c4ee389e6d852bfea31639c0e.jpg");
	background-size:cover;
}


.tool{
	margin:40px;
	height:100px;
	width:100px;
	border:solid white 1px;
}

#selected {
	height:60px;
	width:60px;
	margin:60px;
	border:solid white 1px;
}

#pickaxe {
	background-image:url("https://s-media-cache-ak0.pinimg.com/originals/11/06/c4/1106c4d5dbedc0e79df22453bbe55b3e.jpg");
	background-size:contain;
}

#axe {
	background-image:url("http://orig03.deviantart.net/8644/f/2015/028/e/c/minecraft_wood_axe_ll_by_dragonshadow3-d8fr8qi.png");
	background-size:contain;
}

#shovel{
	background-image:url("http://orig13.deviantart.net/b621/f/2015/028/0/0/minecraft_iron_shovel_ll_by_dragonshadow3-d8fr870.png");
	background-size:contain;
}
